*.pyc

Pipfile
aruw-mcb-project/build
aruw-mcb-project/Pipfile.lock
project.xml.log
**/.DS_Store

.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
.sconsign.dblite
.sconsign

.robot_type.txt

gcov-result

docs/_build
docs/api
docs/doxyoutput

.idea
